div.github-timeline {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 210px;
  max-height: 600px;
  padding: 10px 0 10px 0;
  border: 1px solid var(--border);
  border-radius: 15px;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  --background: white;
  --border: #ddd;
  --hoverbackground: #eeeeee;
  --textColor: rgb(29, 28, 28);
  --dateColor: #636363;
  --linkColor: blue;
  --avatarSize: 80px;
  --headerFontSize: 28px;
  --mainFontSize: 16px;
  --dateFontSize: 12px;
}
div.github-timeline * {
  color: var(--textColor);
  background-color: unset;
  color: unset;
  font-size: unset;
  text-align: unset;
  margin: unset;
  padding: unset;
  border: unset;
}
div.github-timeline.dark {
  --background: #292f33;
  --border:#919191;
  --hoverbackground:rgb(32, 38, 43);
  --textColor: white;
  --dateColor: #807a7a;
}
div.github-timeline.dark .event:hover {
  --dateColor: #bdbdbd;
}
div.github-timeline .header {
  position: relative;
  box-sizing: border-box;
  padding-left: 15px;
  z-index: 3;
  border-bottom: 0.5px solid var(--border);
  color: var(--textColor);
  font-size: var(--headerFontSize);
  text-align: left;
}
div.github-timeline .header .header-small {
  color: #a8a8a8;
  font-size: 14px;
}
div.github-timeline .events {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--textColor);
}
div.github-timeline .events .event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  font-size: var(--mainFontSize);
  border-top: 1px solid var(--border);
  transition: 0.2s background-color;
  cursor: pointer;
}
div.github-timeline .events .event:hover {
  background-color: var(--hoverbackground);
}
div.github-timeline .events .event .avatar {
  width: var(--avatarSize);
  border: 0.8px solid var(--border);
  border-radius: 50%;
}
div.github-timeline .events .event .event-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin: 0 8px;
  text-align: left;
  font-size: var(--mainFontSize);
}
div.github-timeline .events .event .event-detail .event-name {
  display: inline;
  margin: 0;
  color: var(--textColor);
  text-decoration: none;
  font-weight: bold;
}
div.github-timeline .events .event .date {
  margin: 0;
  color: var(--dateColor);
  font-size: var(--dateFontSize);
  text-align: right;
}
div.github-timeline .events .not-found {
  padding: 0 8px;
  padding-top: 10px;
  text-align: center;
  color: var(--textColor);
  font-size: var(--mainFontSize);
}
div.github-timeline .events .footer {
  padding: 5px 0;
  border-top: 0.5px solid var(--border);
  font-size: var(--mainFontSize);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 425px) {
  div.github-timeline {
    --avatarSize: 30px;
    --headerFontSize: 18px;
    --mainFontSize: 12px;
    --dateFontSize: 10px;
  }
}
@media (min-width: 425px) and (max-width: 500px) {
  div.github-timeline {
    --avatarSize: 50px;
    --headerFontSize: 24px;
    --mainFontSize: 14px;
    --dateFontSize: 12px;
  }
}
@media (min-width: 500px) {
  div.github-timeline {
    --avatarSize: 80px;
    --headerFontSize: 28px;
    --mainFontSize: 16px;
    --dateFontSize: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
